* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 1rem auto;
    font-size: 1.8rem;
}


img {
    width: 32px;
    height: 32px;
}

span {
    margin: 0 0.5rem;
}